body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-color: rgb(33, 33, 33);
}

a:link {
    color: #777;
    text-decoration: none;
}

a:visited {
    color: #777;
}

.navbar {
    margin-top: 10vh;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: thin solid #fff;
}

.navbar > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar > ul > li {
    float: left;
}

.navbar > ul > li > a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    border-bottom: thick solid rgba(0, 0, 0, 0);
}

.navbar > ul > li > a:hover,
.navbar > ul > li > a.active {
    border-bottom: thick solid #fff;
}

.header {
    text-align: center;
    display: block;
}

#title {
    color: rgb(225, 225, 225);
    font-weight: 400;
    font-size: 64px;
}

#title-thin {
    color: rgb(225, 225, 225);;
    font-weight: 100;
    font-size: 64px;
}

#subtitle {
    color: rgb(225, 225, 225);
    font-size: 18px;
}

.container {
    color: rgb(221, 221, 221);
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.footer {                       
    color: rgb(65, 131, 215);
    border-top: 2px solid rgb(221, 221, 221);
    margin-top: 50px;
    text-align: center;
}

.ghost-button {
    text-align: center;
    background: rgba(0, 0, 0, 0);
    border: 2px solid rgb(221, 221, 221);
    font-size: 17px;
    padding: 10px 18px;
    margin: 20px 20px;
    font-weight: normal;
    display: inline-block;
    min-width: 120px;
    width: 0%;
}

.ghost-button:hover,
.ghost-button:active {
    color: #0d0d0d;
    background: rgb(221, 221, 221);
    text-decoration: none;
}

.button-bar {
    text-align: center;
}

.social-icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0);
    border: 2px solid rgb(221, 221, 221);
    color: rgb(221, 221, 221);
    font-size: 24px;
    transition: all 0.3s ease;
}

.social-icon:hover {
    color: #0d0d0d;
    background: rgb(221, 221, 221);
    transform: translateY(-3px);
}
